# Eclipse
.classpath
.project
.settings/
# Intellij
.idea/
*.iml
*.iws
/out/
# Mac
.DS_Store
# Gradle
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
# Cache of project
# I dont want it
bin/
src/test/
scripts/
